body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #262422, #1f1c18);
  color: aliceblue;
}
.MuiAppBar-colorPrimary {
  background: linear-gradient(to right, #262422, #1f1c18);
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex {
  display: flex !important;
}
.card-hover {
  position: relative;
  display: inline-block;
}

.card-hover:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 100%;
  height: 100%;
  background-color: rgba(38, 37, 37, 0.5);
  z-index: -1;
  transition: transform 0.3s;
}

.card-hover:hover {
  transform: translateY(-5px);
}
.justify-content-center {
  justify-content: center !important;
}

.mt-2 {
  margin-top: 8px;
}
.ml-2 {
  margin-left: 8px;
}
.justify-content-sp-ar {
  justify-content: space-around;
}
.align-content-sp-ar {
  max-width: 900px;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 20px;
}
.hello-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello-user span:hover {
  color: rgba(241, 81, 81, 0.5);
  cursor: pointer;
}
.hello-user-sidebar {
  display: none;
  position: absolute;
  bottom: 0;
}
.footer {
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 768px) {
  .hello-user {
    display: none;
  }
  .hello-user-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.spinner {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 #05e71c, 17.4px 21.8px 0 0 #05e71c,
    -6.2px 27.2px 0 0 #05e71c, -25.2px 12px 0 0 #05e71c,
    -25.2px -12px 0 0 #05e71c, -6.2px -27.2px 0 0 #05e71c,
    17.4px -21.8px 0 0 #05e71c;
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}

.logo {
  max-height: 100%;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.logo:hover {
  max-height: 115%;
  transform: scale(1.15);
}
#champion-listbox {
  padding: 0;
}

.MuiAutocomplete-option:focus,
.MuiAutocomplete-option:hover {
  background-color: #444444;
}
